/* Yes this is the MS93 css with only slight modifications */

*{
	cursor: url(https://hacker3000.cf/outrun-cursor1.png), auto;
	font-family: Consolas, Monospace, Arial;
}

body{
	background-color:black;
	background-image:url(https://hacker3000.cf/background.png);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	color:Lime;
}

a{
	color:magenta;
	cursor: url(https://hacker3000.cf/outrun-cursor2.png), auto;
}

button, input{
	color:magenta;
	cursor: url(https://hacker3000.cf/outrun-cursor2.png), auto;
	background-color: rgba(0.1, 0.1, 0.1, 0.5);
	border: none;
}

h4 {
	background-color: rgba(0,0,0,0.5);
	text-align: center;
	color:Lime;
}

.boxHead, .rightHead{
	background-color:black;
	text-align: center;
	color:Lime;
}

.blurbs{
	color:green;
}

#userWall{
	background-color:black;
	text-align: center;
	color:Lime;
}

.commentAuthor,.commentContent {
	border: 1px solid black !important;
}

.commentContent {
	background-color: rgba(0,0,0,.75) !important;
	text-align: center !important;
	color:Lime !important;
}

.commentAuthor {
	background-color: rgba(0,0,0,.5) !important;
	text-align: center !important;
	color:green !important;
}

.player{
	background-color:black;
	text-align: center;
	color:green;
}

.box, .infotable td, .infotable th {
	background-color: rgba(0, 0, 0, 0.3);
	color: Lime;
	border: 1px solid black;
}

.boxButton{
	color:orange;
}

div.headTop{
	background-image: url(https://64.media.tumblr.com/b2dbfb13a03b9efecdfebfcde1d948e4/tumblr_owngzpR9zU1vsjcxvo1_540.gifv);
	background-color: black;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

nav.links{
	background-color:black;
	background-image: linear-gradient(cyan, magenta);
	color:orange;
}

textarea{
	background-color: rgba(0,0,0,0.95);
	color: limegreen;
	border: solid black 1px;
}

body::after {
content: "";
display: block;
position: fixed;
left: -48px;
top: -48px;
width: calc(100% + 48px);
height: calc(100% + 48px);
background-image: url(https://assets.bigcartel.com/theme_images/39406789/stattico.gif);
background-position: 0 0;
background-size: cover;
z-index: 10000000;
pointer-events: none;
opacity: 0.1;
}

.headTop .right::before{
	content: "NG Evangelion is cool i guess...";
	font: bold 13px monospace;
	background-image: linear-gradient(cyan, magenta);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	cursor: url(https://cur.cursors-4u.net/anime/ani-10/ani928.cur), url(https://cur.cursors-4u.net/anime/ani-10/ani928.cur), auto !important;
}

audio {
	   filter: hue-rotate(111deg) blur(0.1px) !important;
}

img {
	   filter: blur(0.42px);
}

.url, .player {
	border: none;
}
.extended h3 {
	font-size: 0px;
}

.extended h3::after {
	content: url(https://mvc.penguins.win/terminal.png);
	filter: none;
}

img[src="https://mvc.penguins.win/red.png"] {
	   filter: hue-rotate(220deg);
}

.userinfo::after { /* eyecancer */
	content:
		url(https://anlucas.neocities.org/site_best_viewed_with_monitor.gif)
		url(https://anlucas.neocities.org/anydamn.gif)
		url(https://anlucas.neocities.org/elec_but.gif)
		url(https://anlucas.neocities.org/apocalypse_now.gif)
		url(https://88by31.neocities.org/games/hl.gif)
		url(https://files.catbox.moe/gb7r5b.gif)
		url(https://anlucas.neocities.org/getacomp.jpg)
		url(https://anlucas.neocities.org/hatemac.jpg)
		url(https://anlucas.neocities.org/hatems.jpg)
		url(https://anlucas.neocities.org/html_learn_it_today.gif)
		url(https://anlucas.neocities.org/ieisevil.gif)
		url(https://anlucas.neocities.org/linuxnow.jpg)
		url(https://anlucas.neocities.org/lynxnow.gif)
		url(https://anlucas.neocities.org/nukeieani.gif)
		url(https://anlucas.neocities.org/netscape_never.gif)
		url(https://anlucas.neocities.org/piracy.gif)
		url(https://anlucas.neocities.org/team_fortress_get_it.gif)
		url(https://anlucas.neocities.org/best_viewed_with_eyes.gif)
		url(https://anlucas.neocities.org/aol_sucks02.gif)
		url(https://anlucas.neocities.org/neocities_button.gif)
		url(https://cvrsed.neocities.org/button1.gif)
		url(https://hacker3000.cf/buttons/H3_button_88x31.gif)
		url(https://88by31.neocities.org/anime/thirdimpact.png)
		url(https://88by31.neocities.org/web/neocitiesbutton1.gif)
		url(https://88by31.neocities.org/web/delete_instagram.gif)
		url(https://88by31.neocities.org/anime/lain%20button.png)
		url(https://88by31.neocities.org/web/css.png)
		url(https://88by31.neocities.org/web/chrome.gif)
		url(https://88by31.neocities.org/web/nftbutton.gif)
		url(https://88by31.neocities.org/web/IMG_1816.gif)
		url(https://88by31.neocities.org/web/pngnow.png)
		url(https://88by31.neocities.org/web/fuckfb.png)
		url(https://88by31.neocities.org/web/009button.gif)
		url(https://88by31.neocities.org/web/neocities-pink.gif)
		url(https://88by31.neocities.org/pride/trn.png)
		url(https://88by31.neocities.org/anime/nerv.png)
		url(https://88by31.neocities.org/games/scp.png)
		url(https://88by31.neocities.org/games/spamtombutton.gif)
		url(https://88by31.neocities.org/games/kromer.gif)
		url(https://88by31.neocities.org/awareness/right2repair.png)
		;
	image-rendering: pixelated;
}

article {
	text-align: justify;
	background-color: rgba(0,0,0,0.75) !important;
}

code {
	color: orange;
	background-color: rgba(0,0,0,.9);
	display: block;
	overflow-y: scroll;
}

.gato {
	border: none;
	background: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	pointer-events: none;
}

@media (min-width: 768px) {
	#main-content {
		transform: translateY(20px);
	}
  .siteHead {
  	position: fixed;
  	top: 0;
  	left: 0;
  	right: 0;
		z-index: 10;
  }
}

